{{- if eq .chezmoi.os "linux" -}}
{{-   include "dot_config/fastfetch/.config_linux.jsonc" -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-   include "dot_config/fastfetch/.config_darwin.jsonc" -}}
{{- end -}}